@font-face {
    font-family: 'Futura';
    src: url('fonts\Futura Bold.otf');
}
body{
    background-color: #4D148C;
    text-align: center;
}

h1 {
    font-family: 'Futura';
    color: #FF6600;
  }

label{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

input{
    text-align: center;
    height: 30px;
    border-radius: 10px;
}

.submit {
    background: #FF6600;
    color: #ffffff;
    border-style: outset;
    border-color: #000000;
    height: 50px;
    width: 100px;
    font-family: 'Futura';
    text-shadow: none;
}

.logo {
    width: 140px;
    height: 100px;
    top: -10px;
    left: 10px;
    /*border: 4px solid #333;*/
    position: fixed;
    display:block;
}
.main-body {
    margin-top: 10%;
}

.rate-form {
    
    width:500px;
    background: rgba(0,0,0,0.8);
    backdrop-filter: saturate(300%) blur(100px);
  }
  
  /*@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .rate-form {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
    }
  }